/* SERMON */
.sermon{
    padding-top: 10px;
    padding-bottom: 10px;
}


.titsermon{
    text-align: center;
    font-size: 18px;
    color: black;
}


.subtitsermon{
    text-align: center;
}








/*Diseño de la cuadricula y el menu izquierdo*/
*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    flex-wrap:wrap-reverse;
    padding-left: 50px;
    padding-right: 50px; 
}

section{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
    float: left;
    width:190px;
    height: 500px;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid #777;
    float:inline-end;
    width:1340px;
    height: 200px;
}

p b{
    display:flex;
    justify-content: space-between;
}

/*Diseño del footer*/
.divsitos{
	display: flex;
	background: rgb(8, 7, 7);
	justify-content:  space-around;
	height: 430px;
	padding-top: 30px;
    flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.foote{
	text-align: start;
    color: rgb(255, 255, 255);
	font-size: 22px;
}

.pfoote{
	line-height: 2em; 
	text-align: start;
    color: rgba(255, 255, 255, 0.815);
}

.divsitos div
{
	margin: 20px;
    width: 20%;
	/* border: 2px solid rgb(19, 61, 44); */
	
}


#linea{
	width: 90%;
	border: 1px solid rgb(255, 255, 255);
}

#aroba{
	text-align: start;
    color: rgba(255, 255, 255, 0.699);
}

.img1{
    width: 222px;
    height: 100.66px;
    margin: 32px 0px 0px;
}