div{
    border: 2px solid black;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom:0;
}

#div2{
    padding: 30px;
    border: 2px solid blue;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom: 0px;
}

#div3{
    padding: 70px;
    border: 2px solid red;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#div4{
    border: 2px solid pink;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom: 30px;
    overflow:hidden;
}

.menuizquierdo{
    border: 2px solid green;
    height: 2000px;
    width: 300px;
    float: left;
    /*position: static;*/
    /*margin-top: 1px;
    margin-right: 10px;
    margin-left:1px;*/
}

img{
    width:  269.97px;
    height:179.98px;
    position: static;
    margin-left: 50px;
    margin-right: 10px;
    border: red 2px solid;
    
}

a,span{
    width:  100px;
    /*position: static;*/
    margin-left: 50px;
    margin-right: 10px;
    display:inline-block;
    border: red 2px solid;
}

